body {
	font-family: Arial, sans-serif;
	margin: 20px;
}

.hocr-container {
	position: absolute;
/*	border: none;*/
}

#hocrImageContainer {
	margin-top: 1em;
}

#hocrContainer div {
	position: absolute;
	border: 1px solid gray;
}

#hocrContainer .ocrx_word {
	position: absolute;
	border: 1px solid red;
	background-color: rgba(255, 0, 0, 0.3);
	color: transparent;
}

#hocrContainer .ocr_line {
	position: absolute;
	border: 1px solid green;
	background-color: rgba(0, 255, 0, 0.3);
}

#hocrContainer .ocr_par {
	position: absolute;
	border: 1px solid blue;
	background-color: rgba(0, 0, 255, 0.3);
}

#image {
	position: absolute;
	z-index: -1;
}
#coordinates {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	background-color: rgba(255, 255, 255, 0.99);
	padding: 5px;
	border: 1px solid #000;
}
